<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldStory"
        tools:targetApi="31">
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.admin_view_navs.chapter_activity.EditTextChapterActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldStory" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucChapterMarkedActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucInfoUserActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucAllStoriesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.admin_view_navs.chapter_activity.AddTextChapterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.admin_view_navs.chapter_activity.AddChapterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucUserHomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucStoriesByGenreActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucSignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucLoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucResultSearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucChapterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucStoryOverviewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.ducactivity.DucSearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.admin_view_navs.chapter_activity.ChapterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.admin_view_navs.chapter_activity.EditChapterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.worldstory.view.AdminMainActivity"
            android:exported="false" /> <!-- user gui -->
        <activity
            android:name="com.example.worldstory.view.StartActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>